%ul.nav.navbar-nav.side-nav
  %li.active
    %a{:href => '/protected/notes'}
      %i.fa.fa-dashboard
      %span.glyphicon.glyphicon-th-list
      My notes
  %li
    %a{:href => '/protected/new'}
      %i.fa.fa-dashboard
      %span.glyphicon.glyphicon-pencil
      Create note
  -#%li
  -#  %a{:href => '/protected/calendar'}
  -#    %i.fa.fa-bar-chart-o
  -#    %span.glyphicon.glyphicon-calendar
  -#    Calendar
  %li
    %a{:href => '/protected/settings'}
      %i.fa.fa-bar-chart-o
      %span.glyphicon.glyphicon-cog
      Settings