%ul.nav.navbar-nav.side-nav
  %li.active
    %a{:href => '/admin/users'}
      %i.fa.fa-dashboard
      %span.glyphicon.glyphicon-th-list
      Users
  %li
    %a{:href => '/admin/settings'}
      %i.fa.fa-bar-chart-o
      %span.glyphicon.glyphicon-cog
      Settings