- content_for :title do
  My Notes

- content_for :styles do
  %link{:href => '/css/notes.css', :rel => 'stylesheet'}

#wrapper
  =haml :nav_internal_part

  #page-wrapper
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-bar-chart-o
              .col-lg-1 My Notes
              %a.navbar-link{:href => '/protected/new'}
                %strong Create
          .panel-body
            %form.col-lg-5{:role => 'form', :method =>'post', :action => '/protected/search'}
              .form-group.input-group
                %label.sr-only{:for => "search"} Search
                %input.form-control{:placeholder => 'Search', :type => 'text', :name => 'keyword'}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "submit"}
                    %span.glyphicon.glyphicon-search
            %table.table
              %thead
                %td.col-lg-9 Title
                %td Created
                %td Updated
              %tbody
              - @documents.each do|document|
                %tr
                  %td
                    %a.navbar-link{:href => "/protected/view/#{document.id}"}= document.title
                  %td= document.created_at.strftime("%b %d %Y")
                  %td= document.updated_at.strftime("%b %d %Y")

  =haml :footer_part